@font-face {
  font-family: 'Forum';
  src: url('src/assets/font/Forum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('src/assets/font/avenir-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3 {
  font-family: 'Forum', serif;
}
p {
font-family: 'Avenir', sans-serif;
color: black;
}